/* fond clair par défaut */
body {
  background-color: #f9f9f9;
  color: #222;
  transition: background-color 0.3s, color 0.3s;
}

/* fond sombre (activé par app.component.ts) */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}
